.app{
  width: 100%; /*sempre terá o tamanho do conteudo de dentro*/
  max-width: 400px; /*porem que nao ultrapasse 400px*/
}

h1{
  color: rgb(48, 89, 48);
  text-align: center;
}

.search-bar{
  display: flex;
  margin-bottom: 40px;
}

.search-bar input{
  flex: 1; /*como o pai é flex, utilizando flex 1 este elemento irá crescer na linha*/
  border: none;
  padding: 10px;
}
.search-bar input:focus{
  outline: none;
}
.search-bar button{
  border: none;
  padding: 5px 10px;
  background-color: rgb(89, 210, 56);
}
.search-icon{
  font-size: 20px;
  color: white;
}

.pokemon-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 128, 0, 0.384);
  background-color: rgba(172, 238, 172, 0.434);
  margin: auto;
  padding: 10px 20px;
  border-radius: 20px;
}

.tipo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.valor-tipo{
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
}

.atributos{
  width: 100%;
}

.atributos div{
  display: flex;
  gap: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.265);
}

.nome-atributo{
  flex: 1;
}
.valor-atributo-maior{
  color: green;
}
.valor-atributo-menor{
  color: red;
}

.valor-tipo.fire {background-color: orangered;}
.valor-tipo.water {background-color: rgb(44, 103, 221);}
.valor-tipo.electric {background-color: yellow;}
.valor-tipo.grass {background-color: green;}
.valor-tipo.ice {background-color: rgb(162, 252, 238);}
.valor-tipo.fighting {background-color: red;}
.valor-tipo.poison {background-color: purple;}
.valor-tipo.ground {background-color: brown;}
.valor-tipo.flying {background-color: rgb(137, 219, 251);}
.valor-tipo.psychic {background-color: rgb(140, 64, 202);}
.valor-tipo.bug {background-color: greenyellow;}
.valor-tipo.rock {background-color: gray}
.valor-tipo.ghost {background-color: rgb(206, 206, 206);}
.valor-tipo.dragon {background-color: rgb(82, 14, 191);}
.valor-tipo.dark {background-color: rgb(21, 21, 21);}
.valor-tipo.steel {background-color: rgb(143, 143, 143);}
.valor-tipo.fairy {background-color: rgb(233, 88, 189);}
.valor-tipo.normal {background-color: rgb(254, 237, 216);}